.supplier {
  padding: 10px;
  color: #61d5df;
}
.by {
  color: black;
}
.profit {
  color: #61d5df;
}
.cat__price {
  padding: 5px;
}

.catalog {
  margin-top: 15px;
  height: 100vh;
  /* overflow: scroll; */
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.catalog__product {
  height: 400px;
  flex: 1 300px;
  max-width: 400px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__product--border {
  border: 2px solid #d723dd;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.catalog__photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 15px;
  padding-right: 10px;
  text-align: justify;
}
.checkbox__btn {
  border: solid;
  margin-top: 15px;
  border-radius: 10px;
  width: 50px;
  size: 60px;
}
