.sort__section {
  padding: 15px 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: #fbfbfb;
}

#icon {
  color: #b6b9ca;
}
#sort {
  background-color: transparent;
  border: none;
  outline: none;
  color: #ccc9c9;
}
.sortby {
  /* background-color: #d7e8f8; */
  background-color: #cfddeb;
  padding: 8px 10px;
  color: #000;
}
.sort__value {
  background-color: #f9fbfe;
}

@media only screen and (max-width: 768px) {
  .sort__section {
    text-align: center;
  }
}
