.nav {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #ffffff;
  left: 0;
  padding: 1.2rem 1.5rem 0;
  width: 70px;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  /* overflow: auto; */
  /* scrollbar-width: none; */
}
/* .nav__container::-webkit-scrollbar {
  display: none;
} */
.dropshipLogo {
  padding: 2px;
  margin-bottom: 43px;
  width: 24px;
  height: 19px;
}

.profile {
  width: 100%;
  height: 100%;
  border: 1px solid #1bcdda;
  border-radius: 10px;
}

.nav__items {
  display: flex;
  flex-direction: column;
}

.nav__link {
  display: flex;
  align-items: center;
}

.nav__items {
  row-gap: 1.8rem;
}
