:root {
  --main-color: #61d5df;
  --bg-color: #f8f9fa;
  --max-size: 100%;
  --catalog-title: #29304b;
  --catalog-price: #707587;
  --border-color: #e4e5ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100%;
  width: 100%;
  padding-left: 70px;
  background-color: #f8f9fa;
}

/* .Content {
  height: 100%;
  width: 100%;
} */
/*.catalog {
  margin-top: 15px;
  height: 100vh;
   overflow: scroll; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.catalog__product {
  height: 400px;
  flex: 1 300px;
  max-width: 400px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__product--selected {
  border: 2px solid #61d4df;
}
.catalog__product--border {
  border: 2px solid #d723dd;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.catalog__photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}
/* .checkbox__btn {
  border: solid;
  width: 50px;
  color: rgb(247, 103, 199);
} */
/* .modal {
  width: 60%;
  height: 80%;
  position: relative;
  background: rgba(248, 241, 241, 0.7);
  z-index: 99999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(17, 16, 16);
  background-color: white;
  font-size: 20px;
} */
.modal {
  width: 997px;
  height: 691px;
  background: #fff;
  display: flex;
  gap: 20px;
  padding: 20px;
}
.modal__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  overflow: hidden;
  z-index: 999999;
}

.modal__catalog__left {
  /* display: flex;
  flex-direction: column;

  justify-content: space-between;
  padding: 70px;
  border-radius: 8px;
  background-color: #fbfbfb; */
  width: min(499px, 50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px;
}
.modal__catalog__right {
  flex-direction: column;
  padding-left: 80px;
  justify-content: space-around;
  width: min(656px, 60%);
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 30px; */
}
/* .modal__catalog__name {
  text-align: left;
  text-decoration: rgb(108, 108, 233);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
} */
.modal__catalog__photo {
  display: flex;
  justify-content: center;
}
.modal__catalog__photo img {
  max-width: 335px;
  max-height: 335px;
}
.modal__catalog__title {
  color: black;
  font-size: 26px;
  text-align: start;
  /* padding-bottom: 80px; */
}
.modal__catalog__description {
  text-align: left;
  margin-top: 20px;
}
.modal__catalog__prices {
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 10px;
  font-size: 22px;
  border-radius: 7px;
}
/* lala */
/* .modal__catalog__prices {
  display: flex;
  font-size: 22px;
  gap: 80px;
  list-style: none;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  background: #fafafa;
  border: 1.5px solid #fff;
  justify-content: space-between;
  padding: 0;
} */

.modal__close__btn {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  justify-content: flex-end;
  /* justify-items: flex-end; */
  /* padding-left: 200px; */
  /* position: absolute; */
  right: 10px;
  top: 10px;
}
.tabs {
  display: flex;
  gap: 55px;
  margin-top: 20px;
}
.product__details {
  margin-top: 20px;
}
/* .modal__btn {
  display: flex;
  font-size: 40px;
  size: 360px;
  justify-content: flex-end;
} */
.modal__supplier {
  color: black;
}

.btn {
  width: 272px;
  height: 43px;
  border-radius: 4px;
  border-color: #61d5df;
  background-color: #61d5df;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.god {
  display: flex;
  flex-direction: row;
}
